<!doctype html>
<html>
  <head>
    <title>Python Social Auth - test</title>
    <link href="{{ STATIC_URL }}fonts/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600" type="text/css">
  </head>
  <body>
    <div class="wrapper">
        <div class="container">
            <h1>Python Social Auth</h1>

            {% if user.is_authenticated %}
                <div class="user-details">
                    You are logged in as <code>{{ user.username }}</code>!
                    <a href="/logout/" id="logout">Logout</a>
                </div>
            {% endif %}

            {% for name, backend in available_backends|social_backends|order_backends %}
              {% set association = associated.get(name) %}
              {% if association %}
                  <form id="{{ name }}-disconnect"
                      class="disconnect-form col-md-2"
                      action="{{ url("social:disconnect_individual", backend=association.provider, association_id=association.id) }}"
                      method="post">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <a class="login-button button_standard button-{{ name|icon_name }}" title="Disconnect {{ backend|backend_name }}" name="{{ backend|backend_class }}" href="#">
                      <span class="icon icon-{{ name|icon_name }}"></span>
                      Disconnect {{ backend|backend_name }}
                  </a>
                </form>
              {% else %}
                  <a href="{{ url("social:begin", backend=name) }}"
                     class="login-button button_standard button-{{ name|icon_name }}"
                     title="Log in with {{ backend|backend_name }}">
                        <span class="icon icon-{{ name|icon_name }}"></span>
                      Log in with {{ backend|backend_name }}
                  </a>
              {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="buttons">
      {% if user.is_authenticated %}
        <div class="user-details">
          You are logged in as <code>{{ user.username }}</code>!
        </div>
      {% endif %}

      <div class="social">
        {% for sublist in available_backends|social_backends|slice_by(10) %}
          <div class="row">
            {% for name, backend in sublist %}
              {% set association = associated.get(name) %}
              {% if association %}
                <form id="{{ name }}-disconnect"
                      class="disconnect-form col-md-2"
                      action="{{ url("social:disconnect_individual", backend=association.provider, association_id=association.id) }}"
                      method="post">
                  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                  <a class="btn btn-danger" name="{{ backend|backend_class }}" href="#">
                    <i class="icon-{{ name|icon_name }}"></i>
                    Disconnect {{ backend|backend_name }}
                  </a>
                </form>
              {% else %}
                {% if name == "google-plus" %}
                  <div class="col-md-2 btn btn-default" id="{{ name }}-button" name="{{ backend|backend_class }}">
                    <i class="icon-{{ name|icon_name }}"></i>
                    {{ backend|backend_name }}
                  </div>
                {% else %}
                  <a id="{{ name }}-button"
                     class="col-md-2 btn btn-default"
                     name="{{ backend|backend_class }}"
                     href="{{ url("social:begin", backend=name) }}">
                    <i class="icon-{{ name|icon_name }}"></i>
                    {{ backend|backend_name }}
                  </a>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
        {% endfor %}
      </div>

      <div class="legacy">
        {% for name, backend in available_backends|legacy_backends %}
          {% set association = associated.get(name) %}
          {% if association %}
            <form class="disconnect-form"
                  action="{{ url("social:disconnect_individual", backend=association.provider, association_id=association.id) }}"
                  method="post">
              <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
              <a class="btn btn-danger" name="{{ backend|backend_class }}" href="#">
                <i class="icon-{{ name|icon_name }}"></i>
                Disconnect {{ backend|backend_name }}
              </a>
            </form>
          {% else %}
            <a class="btn btn-default" name="{{ backend|backend_class }}" href="{{ url("social:begin", backend=name) }}">
              <i class="icon-{{ name|icon_name }}"></i>
              {{ backend|backend_name }}
            </a>
          {% endif %}
        {% endfor %}

        <a class="btn btn-info" name="ajax-login" href="#">
          <i class="icon-refresh"></i>
          Ajax
        </a>
      </div>

      <div>
        <a class="btn btn-primary" href="/logout/" id="logout">
          <i class="icon-sign-out"></i>
          Logout
        </a>
      </div>
    </div>

    <script type="text/javascript">
      $(function () {
        $('.disconnect-form').on('click', 'a.btn', function (event) {
          event.preventDefault();
          $(event.target).closest('form').submit();
        });
      });
    </script>
  </body>
</html>
